@charset "UTF-8";
/* CSS Document */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 16px;
    scroll-behavior: smooth;
    background-image: linear-gradient(to bottom right, #1a1a1a, #3a3a3a);
    background-attachment: fixed;
    color: #ffffff;
    font-family: 'Monospace', monospace;
    line-height: 1.5;
}

header {
    font: 13px 'Arial', sans-serif;
    background-color: #3a3a3a00;
    color: #ffffff;
    text-align: center;
    padding: 15px;
}

header ul {
    list-style: none;
    padding: 0;
}

header ul li {
    display: inline;
    margin: 0 15px;
}

header ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2em;
}

header ul li a:hover {
    color: #ffcc00;
    text-decoration: underline;
}

section {
    margin: 0 15vw;
    padding: 50px;
    text-align: center;
}

section h1 {
    margin-bottom: 50px;
    font-size: 3em;
    text-align: center;
}
section .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
}

section .container .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    border-radius: 5px;
    background-color: #3a3a3a9c;
    border: 1px solid #555;
    padding: 20px;
    min-width: 200px;   /* Opcional: define uma largura mínima */
    max-width: 350px;   /* Opcional: define uma largura máxima */
    transition: transform 0.3s ease;
}

section .container .card h2 {
    margin-bottom: 10px;
    font-size: 1.4em;
    color: #ffffff;
}

section .container .card code {
    background-color: #2a2a2a;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    color: #ffffff;
    display: block;
    margin: 10px 0;
}


section .container .card:hover {
    transform: scale(1.05);
    background-color: rgb(53, 53, 53);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

footer {
    font: 13px 'Arial', sans-serif;
    background-color: #3a3a3a00;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}