@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

/* Estilo para o body */

:root {
    --cor-fundo: #fceed6;
    --cor-texto: #1b1b1b;
    --cor-navbar: #f8f4e9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: black;
    color: white;
}

.menu {
    display: flex;
    gap: 20px;
}

.logo {
    font-family: 'Jersey 10', sans-serif;
    font-size: 1.5rem;
    text-align: left;
    padding: 10px;
}

.menu a {
    text-decoration: none;
    background-color: #f6db50;
    color: var(--cor-texto);
    padding: 10px;
    transition: background-color 0.3s;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-section .hero-image {
    width: 376px;
    height: auto;
}   

.hero-section h2 {
    font-size: 2rem;
    text-align: center;
    background-color: var(--cor-texto);
    color: var(--cor-fundo);
}