@charset "UTF-8";
/* CSS Document */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    font: 1em 'Arial', sans-serif;
    color: #ffffff;
    line-height: 1.2;
    background-color: #000000;
    background-image: url('https://images.unsplash.com/photo-1603366615917-1fa6dad5c4fa?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-attachment: fixed;
}

/* Section */

section {
    margin: 50px 250px;
}

section h1 {
    font-size: 3em;
    text-align: center;
    margin-bottom: 20px;
}

section > p {
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 40px;
}

section .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
}

section .container .card {
    border-radius: 5px;
    background-color: #3a3a3a9c;
    border: 1px solid #555;
    width: 300px;
    padding: 20px;
    transition: transform 0.3s ease;
}

section .container .card h2 {
    margin-bottom: 10px;
    font-size: 1.4em;
    color: #ffffff;
}

section .container .card a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
}

section .container .card:hover {
    transform: scale(1.05);
    background-color: rgba(53, 53, 53, 0.719);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#andamento {
    background-color: #23ff8691;
}

#andamento a {
    color: #ffffff;
}

#andamento h2 {
    color: #ffffff;
}

#andamento:hover {
    background-color: #23ff869c;
}

/* Rodapé */

footer {
    font: 13px 'Arial', sans-serif;
    background-color: #3a3a3a00;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    position: relative;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    section {
        margin: 25px 10px;
    }

    section .container {
        flex-direction: column;
        align-items: center;
    }

    section .container .card {
        width: 90%;
    }
}